node_modules
dist
.DS_Store
*.log
logs
.env
.env.local
.vite
.vercel
.cache
coverage
*.tgz
Thumbs.db
*.swp
*.swo
**/.openzeppelin
**/.turbo
**/.next
**/.cache
**/pnpm-lock.yaml
**/yarn.lock
**/package-lock.json
!docs
